* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    color: whitesmoke;
    text-align: center;
    align-content: center;
    height: 120px;
    background-color: rgb(198, 198, 255);
    text-shadow: #3a6600 0px 0px 10px;
}




/*navvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvtop*/
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 60px;
    align-content: center;
}

.navtop_left a{
    text-shadow: #bfff6b 0px 0px 5px;
    text-decoration: none;
    align-content: center;
    padding: 3%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 60px;
    font-weight: bold;
}

.navtop_left{
    background-color: rgb(225, 225, 252);
    display: flex;
    height: 60px;

}

.navtop_left :hover{
    background-color: #b667ff;
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 0px 0px 10px;
}

.search{
    align-content: center;
    text-align: end;
    background-color: rgb(225, 225, 252);
}

.search input{
    width: 40%;
    height: 35px;
    border-radius: 10px;
    box-shadow: #858377 0px 0px 7px;
    border: 0;
    
}

.search button{
    text-shadow: #ffffff 0px 0px 10px;
    width: 33px;
    height: 33px;
    border-radius: 5px ;
    background-color: #5a36fd;
    color: black;
    padding: 5px;
    margin-right: 2%;
    box-shadow: #858377 0px 0px 7px;
    border: 0;
    
}

.search button:hover{
    background-color: #e7beff;
    color: #ffffff;
    box-shadow: #858377 0px 0px 15px;
}






/*infooooooooooooooooooooooooooooooooooooo index*/
.infoo{
    display: grid;
    grid-template-columns: 80% auto;
    background-color: antiquewhite;
    width: 100%;
    min-height: 65vh;
    font-size: large;

}






/*infooooooooooooooooooooooooooooooooooooo    left*/
.infoo_left{
    background-color: rgb(252, 248, 255);
    padding-left: 20px;
    padding-right: 15px;
    justify-items: left;
    padding-top: 3%;
    padding: 3%;
}

table{
    width: 99%;
    border-collapse: collapse;
}

td{
    height: 30px;
}

.table_head{
    background-color: #f392fc;
    color: #ffffff;
}

.table_footer{
    background-color: #f392fc;
    color: #ffffff;
}


.left{
    width: 80%;
    padding-left: 2%;
}
.right{
    width: 20%;
    padding-left: 2%;
}



/*infooooooooooooooooooooooooooooooooooooo    right*/

.infoo_right{
    background-color: rgb(206, 175, 248);
    padding-top: 1%;
}

.infoo_right a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.infoo_right :hover{
    background-color: rgb(255, 255, 255);
    color: rgb(105, 79, 252);
    text-shadow: #c9e4fa 0px 0px 7px;
}

.link{
    text-shadow: #ffffff 0px 0px 10px;
    border-radius: 5px;
    padding: 3%;
    background-color: rgb(105, 79, 252);
    margin: 3%;
    color: #000000;
    box-shadow: #858377 0px 0px 7px;
  }



/*infoooooooooooooooooooooooooooo profile*/
.img{
    display: flex;
    width: 100%;
}

img{
    width: 40%;
    margin: 3%;
    margin-left: 0%;
    border-radius: 10px;
    margin-right: 15%;
    box-shadow: #858377 0px 0px 15px;
}



/*infoooooooooooooooooooooooooooo contact*/
iframe{
    width: 70%;
    height: 300px;
}



/*infoooooooooooooooooooooooooooo register*/
.info_register{
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.regis{
    width: 100%;
    background-color: #c6bdbd;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(228, 221, 212);
    padding-left: 25%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    box-shadow: #858377 0px 0px 7px;
}

.regis input{
    margin-top: 1%;
    margin-bottom: 2%;
    width: 70%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: #858377 0px 0px 5px;
}

.regis button{
    width: 70%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    border: 0;
}
.bt_regiscf button{
    background-color:#a35802;
    color: #292828;
    box-shadow: #858377 0px 0px 5px;
}

.bt_regiscc button{
    background-color:#ff2a00;
    color: #292828;
    box-shadow: #858377 0px 0px 5px;
}

.bt_regiscf :hover{
    background-color: #b56d1a;
    color: white;
    box-shadow: #858377 0px 0px 15px;
}
.bt_regiscc :hover{
    background-color: #ff512e;
    color: white;
    box-shadow: #858377 0px 0px 15px;
}



.footer{
    position: sticky;
    text-align: center;
    align-content: center;
    height: 80px;
    background-color: rgb(198, 198, 255);
    text-shadow: #3a6600 0px 0px 10px;
    color: rgb(46, 46, 46);
}